<!-- added my own backdrop that causes drawer to close on click -->
<div
  *ngIf="opened"
  class="my-backdrop"
  (click)="drawer.close()"
  (click)="onClick()"
></div>
<mat-sidenav-container class="sidenav-container relative" (click)="onClick()">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{ hidden: (isHandset$ | async) === false }"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <h2>Menu</h2>
      <span class="example-spacer"></span>
      <button
        mat-mini-fab
        color="accent"
        aria-label="icon button with a close icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <!-- <a mat-list-item routerLink="/pricing">Pricing</a> -->
      <a mat-list-item routerLink="/differential">Counter</a>
      <a mat-list-item routerLink="/contact">Contact</a>
    </mat-nav-list>
    <div class="flex gap-4 px-4">
      <button
        mat-stroked-button
        color="accent"
        routerLink="/login"
        *ngIf="userService.isLoggedOut$ | async"
      >
        <mat-icon class="mr-2">account_circle</mat-icon>Login
      </button>
      <button
        mat-raised-button
        color="accent"
        routerLink="/signup"
        *ngIf="userService.isLoggedOut$ | async"
      >
        <mat-icon class="mr-2">person_add</mat-icon>Sign Up
      </button>
      <button
        mat-raised-button
        color="accent"
        routerLink="/"
        *ngIf="userService.isLoggedIn$ | async"
        (click)="logout()"
      >
        <mat-icon class="mr-2">exit_to_app</mat-icon>Log Out
      </button>
      <!-- <button mat-stroked-button>
        <mat-icon class="mr-2">person_add</mat-icon>Sign Up
      </button> -->
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <a routerLink="/"
        ><span class="w-[120px] mr-2 flex justify-center"
          ><img src="../../assets/images/logo.svg" alt="" /></span
      ></a>
      <span class="example-spacer"></span>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="nav-wrapper" [ngClass]="{ hidden: (isHandset$ | async) }">
        <button
          mat-button
          routerLink="/"
          routerLinkActive="active-btn"
          [routerLinkActiveOptions]="{ exact: true }"
          class="home-btn"
        >
          Home
        </button>
        <!-- <button
          mat-button
          routerLink="/pricing"
          routerLinkActive="active-btn"
          *ngIf="userService.isNotSubbed$ | async"
        >
          Pricing
        </button> -->
        <button
          mat-button
          routerLink="/differential"
          routerLinkActive="active-btn"
        >
          Counter
        </button>
        <button mat-button routerLink="/contact" routerLinkActive="active-btn">
          Contact
        </button>
        <button
          mat-stroked-button
          color="accent"
          routerLink="/login"
          *ngIf="userService.isLoggedOut$ | async"
        >
          <mat-icon class="mr-2">account_circle</mat-icon>Login
        </button>
        <button
          mat-raised-button
          color="accent"
          routerLink="/signup"
          *ngIf="userService.isLoggedOut$ | async"
        >
          <mat-icon class="mr-2">person_add</mat-icon>Sign Up
        </button>
        <div [matMenuTriggerFor]="menu" *ngIf="userService.isLoggedIn$ | async">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="bi bi-person-circle"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
            />
          </svg>
          <mat-menu #menu="matMenu">
            <div matMenuContent class="p-4 grid gap-2">
              <p class="text-center font-bold text-xl">
                {{ userService.email$ | async }}
              </p>
              <div class="flex gap-1">
                <p
                  *ngIf="userService.isTrialing$ | async"
                  class="rounded-xl bg-red-100 shadow-inner py-2 px-3 text-red-400 !m-0"
                >
                  <span class="">Trial expires in</span>
                  <span class="font-bold">{{ trialExpires }}</span>
                </p>
                <app-checkout-button
                  buttonClass="w-full bg-green-200"
                  class="w-full"
                  *ngIf="userService.showUpgradeBtn$ | async"
                  text="Upgrade"
                ></app-checkout-button>
              </div>
              <button
                class="w-full"
                mat-raised-button
                color="accent"
                routerLink="/"
                *ngIf="userService.isLoggedIn$ | async"
                (click)="logout()"
              >
                <mat-icon class="mr-2">exit_to_app</mat-icon>Log Out
              </button>
            </div>
            <!-- <button
              class="font-medium text-lg"
              mat-menu-item
              routerLink="account"
            >
              <mat-icon>settings</mat-icon>Account Settings
            </button> -->
          </mat-menu>
        </div>

        <!-- <button mat-button *ngIf="userService.isLoggedOut$ | async">
          <mat-icon class="mr-2 hidden">person_add</mat-icon>Sign Up
        </button> -->
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
