<div class="flex gap-4 flex-col xl:flex-row max-h-[90vh] overflow-y-auto">
  <div class="w-full min-w-[420px]" *ngIf="user.isTrialingOrSubbed$ | async">
    <h2 class="text-center">Print Settings</h2>
    <div class="">
      <div
        class="mb-5 grid grid-cols-1 gap-2 max-h-96 overflow-y-auto p-3 rounded border-2 border-slate-500"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        *ngIf="this.settings.printSettings.fields.length > 0"
      >
        <div
          *ngFor="let field of settings.printSettings.fields; let i = index"
          cdkDrag
          class="h-12 rounded flex justify-between items-center bg-slate-100 border border-slate-300 shadow"
        >
          <mat-icon cdkDragHandle class="basis-1/12 text-gray-400 cursor-move"
            >drag_indicator</mat-icon
          >

          <div
            class="basis-4/12 truncate font-semibold text-base text-slate-700"
          >
            {{ field.name }}
          </div>
          <input
            type="text"
            class="p-2 border border-slate-300 rounded basis-5/12"
            [(ngModel)]="settings.printSettings.fields[i].value"
            maxlength="40"
            placeholder="Type Here"
          />
          <button mat-button (click)="deleteFieldRow(i)" class="basis-2/12">
            <mat-icon class="text-center text-gray-600">close</mat-icon>
          </button>
        </div>
      </div>
      <div class="add-new-field flex">
        <button
          *ngIf="!adding"
          mat-raised-button
          color="accent"
          (click)="toggleField()"
          disabled="{{ this.settings.printSettings.fields.length >= 12 }}"
        >
          Add Field
        </button>
        <div *ngIf="adding" class="flex gap-2 w-full ml-1">
          <input
            type="text"
            class="shadow border-2 border-slate-400 p-2 rounded"
            placeholder="Label"
            [(ngModel)]="newFieldValue"
            #newFieldInput
            (keydown.enter)="addNewField()"
            maxlength="30"
          />
          <button (click)="addNewField()" mat-raised-button color="accent">
            Add
          </button>
          <button (click)="toggleField()" mat-stroked-button>Cancel</button>
        </div>
      </div>

      <div class="rounded shadow border-2 border-slate-500 p-4 my-4">
        <h2 class="text-center">Additional Settings</h2>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Report Title</mat-label>
          <input
            matInput
            placeholder="Ex. Report"
            value="Report"
            [(ngModel)]="settings.printSettings.reportTitle"
            maxlength="30"
            autocomplete="off"
          />
        </mat-form-field>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3">
          <mat-checkbox [(ngModel)]="settings.printSettings.showLabels"
            >Show labels</mat-checkbox
          >
          <mat-checkbox [(ngModel)]="settings.printSettings.showCell"
            >Show Cell</mat-checkbox
          >
          <mat-checkbox [(ngModel)]="settings.printSettings.showCount"
            >Show Count</mat-checkbox
          >
          <mat-checkbox [(ngModel)]="settings.printSettings.showRelative"
            >Show Relative</mat-checkbox
          >
          <mat-checkbox [(ngModel)]="settings.printSettings.showAbsolute"
            >Show Absolute</mat-checkbox
          >
          <mat-checkbox [(ngModel)]="settings.printSettings.showUnits"
            >Show Units</mat-checkbox
          >
          <mat-checkbox [(ngModel)]="settings.printSettings.showIgnored"
            >Show Ignored</mat-checkbox
          >
          <mat-checkbox [(ngModel)]="settings.printSettings.showWBC"
            >Show WBC Count</mat-checkbox
          >
        </div>
      </div>
    </div>
    <div class="m-0">
      <button
        mat-flat-button
        color="accent"
        (click)="onSaveSettings()"
        class="flex gap-2"
      >
        <span *ngIf="saving" class="flex items-center gap-2"
          ><mat-spinner diameter="25"></mat-spinner><span>Saving...</span></span
        >
        <span *ngIf="!saving" class="flex items-center gap-2"
          >Save Settings</span
        >
      </button>
    </div>
  </div>

  <div class="w-full">
    <h2 class="text-center">Preview</h2>
    <!-- <iframe src="/print" frameborder="0" style="width: 100%"></iframe> -->

    <div
      class="border-2 border-slate-500 rounded shadow w-[550px] aspect-[8.5/11] p-6 overflow-hidden"
    >
      <div class="scale-[0.6] origin-top-left">
        <app-printable [preview]="preview"></app-printable>
      </div>
    </div>

    <div class="button-container flex justify-end gap-3 my-2">
      <button mat-flat-button color="accent" (click)="onPrint()">Print</button>
      <button mat-stroked-button [mat-dialog-close]="true">Cancel</button>
    </div>
  </div>
</div>
