<div class="relative">
  <h1 class="text-center">Settings</h1>
  <div class="sound-setting shadow-lg">
    <h3 class="">Max Count Reached</h3>
    <mat-checkbox
      class="m-checkbox"
      [(ngModel)]="settings.soundSettings.playMaxCount"
      >Play Sound</mat-checkbox
    >
    <div class="song-scroller flex shadow-md">
      <button class="left-button btn" (click)="settings.previousTrack('max')">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <span (click)="settings.playSound('max')" onselectstart="return false">
        <div class="play-icon-cont">
          <mat-icon class="play-icon">play_circle_filled</mat-icon>
        </div>
        <p>{{ settings.getTrack("max") }}</p></span
      >
      <button class="right-button btn" (click)="settings.nextTrack('max')">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
  <div class="sound-setting shadow-md">
    <h3 class="">Count Changed</h3>
    <mat-checkbox
      class="m-checkbox"
      [(ngModel)]="settings.soundSettings.playCountChange"
      >Play Sound</mat-checkbox
    >
    <div class="song-scroller flex shadow-lg">
      <button
        class="left-button btn"
        (click)="settings.previousTrack('change')"
      >
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <span (click)="settings.playSound('change')" onselectstart="return false">
        <div class="play-icon-cont">
          <mat-icon class="play-icon">play_circle_filled</mat-icon>
        </div>
        <p>{{ settings.getTrack("change") }}</p></span
      >
      <button class="right-button btn" (click)="settings.nextTrack('change')">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
  <div class="flex justify-end mt-5">
    <button
      class="close-btn"
      mat-raised-button
      color="primary"
      [mat-dialog-close]="true"
    >
      Close
    </button>
  </div>
  <span class="x-btn m-auto" [mat-dialog-close]="true">
    <mat-icon class="text-center text-[1.55rem]">close</mat-icon></span
  >
</div>
